.section {
  margin: 10px 10px 10px 10px;
}

.div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 35rem;
  height: 50rem;
  background-image: url(../../image/snapbythree-my-g6e641CiHFQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  color: white;
}

.div h1 {
  font-size: 35px;
  margin: -5px -5px -5px -5px;
  border-top: 2px solid grey;
}

.div p {
  display: inline-flex;
  font-size: 25px;
  margin-right: 15px;
  margin-bottom: -5px;
}

.div small {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 25px 25px 0 0;
}

.header {
  text-align: center;
  background-image: url(../../image/nordwood-themes-ER4lwoGuEc4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  width: 30rem;
  height: 3rem;
  margin: 0 auto;
}

.div button {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(../../image/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  font-size: 0.7rem;
  color: white;
}

.buttonContainer {
  display: inline-flex;
  margin-top: 15px;
}

.modal {
  margin: 17.5rem 17.5rem 17.5rem 17.5rem;
  width: 20rem;
  height: 21rem;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  outline: none;
  padding: 20px;
}

.modalCloseButton {
  width: 300px;
  height: 50px;
  margin: 45px;
  background-color: brown;
  border-radius: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}
