.div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 35rem;
  height: 50rem;
  background-image: url(../../image/snapbythree-my-g6e641CiHFQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  color: white;
}

.div h1 {
  font-size: 50px;
  margin: -5px -5px -5px -5px;
  border-top: 2px solid grey;
}

.div p {
  display: inline-flex;
  font-size: 25px;
  margin-right: 15px;
}

.div small {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 25px;
}

.header {
  background-image: url(../../image/nordwood-themes-ER4lwoGuEc4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  width: 30rem;
  height: 3rem;
  margin: 0 auto;
  text-align: center;
}
